// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'
* {
    font-family: 'Nunito', sans-serif;
}

.default_link{
    text-decoration: none;
    color: inherit;
}


 .primary_input {
        .v-input__slot {
            background: #0158d9e0 !important;
            border: none !important;
            box-shadow: 0 5px 15px 0 rgba(37,44,97,0.15), 0 2px 4px 0 rgba(93,100,148,0.2);
            padding: 10px 30px;
        }
    }

#btn_secondary {
    background: linear-gradient(to right,#ea7596,#ff0047);
    padding: 24px 33px;
    /* padding-bottom: 24px; */
    /* padding-top: 10px; */
    line-height: 0;
}